extends ../layouts/main 
include ../mixins/csurf

block content
    h2 Edit Book
    form(action=`/books/${book.id}?_method=PUT` method='POST')
        include _forms_fields
        .form_row.form_row_end.btn_row
            a.btn.btn_danger(href="/books") Cancel
            +csurf(csrf)
            button.btn.btn_primary(type='submit') Update