extends ../layouts/main 

block content
    h2 New Book
    form(action='/books' method='POST' enctype='multipart/form-data')
        include _forms_fields
        a(href="/books") Cancel
        button(type='submit') Create