header
    nav.header_nav
        a.header_title(href="/") IndigoSay
        ul
            li.header_link
                a(href="/authors") Authors
            li.header_link
                a(href="/authors/new") Add Authors
            li.header_link
                a(href="/books") Books
            li.header_link
                a(href="/books/new") Add book
