header
    nav
        a(href="/") IndigoSay
        ul
            li
                a(href="/authors") Authors
            li
                a(href="/authors/new") Add Authors
            li
                a(href="/books") Books
            li
                a(href="/books/new") Add book
