header
    nav.header_nav
        a.header_title(href="/") IndigoSay
        ul
            li.header_link
                a(href="/authors") Authors
            if isAuth
                li.header_link
                    a(href="/authors/new") Add Authors
            li.header_link
                a(href="/books") Books
            if isAuth
                li.header_link
                    a(href="/books/new") Add book
            if !isAuth
                li.header_link
                    a(href="/user/signin") Signin
                li.header_link
                    a(href="/user/signup") Signup
            if isAuth
                li.header_link
                    a(href="/user/logout") Log out
