@import 'variables.css';
@import 'header.css';
@import 'buttons.css';
@import 'form.css';
@import 'author.css';
@import 'book.css';

:root {
    font-size: medium;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(108, 89, 255), rgb(127, 74, 255));

}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner_container {
    margin: 0 2rem;
}

h2 {
    font-size:  2rem; 
}

.error_message {
    color: hsl(var(--color-danger-hue), 100%, 50%)
}