extends ../layouts/main 

block content
    h2 Search Authors
    form(action='/authors' method='GET')
        label Name
        input(type="text" name='name' value=searchOptions.name)
        button(type='submit') Search
    br
    each author in authors
        .author= author.name