extends ../layouts/main 
include ../mixins/deleteForm

block content
    h2= author.name

    a(href=`/authors/${author.id}/edit`) Edit
    +deleteForm(`/authors/${author.id}?_method=DELETE`)

    if booksByAuthor.length > 0
        h2 Books By Author
        each book in booksByAuthor
            img(width=100 height=150 src=book.coverImagePath, alt="")