extends ../layouts/main 
include ../mixins/deleteForm
include ../mixins/bookGrid

block content
    h2= author.name
    .btn_row
        a.btn.btn_primary(href=`/authors/${author.id}/edit`) Edit
        +deleteForm(`/authors/${author.id}?_method=DELETE`)

    if booksByAuthor.length > 0
        h2 Books By Author
        +bookGrid(booksByAuthor, true)